body{
    font-family: 'Dancing Script', cursive;
}
h1{
    font-size: 60px;
}
h3{
    font-size: 40px;
}
#sp1{
    color: rgb(43, 150, 11);
}
#sp2{
    color: rgb(68, 6, 109);
}
#sp3{
    color: rgb(56, 224, 33);
}
#sp4{
    color: rgb(32, 17, 238);
}
#sp5{
    color: brown;
}